*.iml
.gradle
/local.properties
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
local.properties
.kotlin
*.apk
*.aab
*.hprof
*.keystore
*.jks
.env
*.p12
*.pfx
*.pem
google-services.json
secrets.properties
apikey.properties
*.log
*.ap_
*.dex
.idea/
!.idea/codeStyles/
!.idea/.gitignore
